.board {
    background: url("../../assets/images/board-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 95vw;
    height: 95vh;
    border: 5px solid brown;
    border-radius: 24px;
}