.hand {
    display: flex;

    &__name {
        position: absolute;
        bottom: 120px;
        left: 10px;
        color: white;
        text-shadow: 1px 1px 2px black, 1px -1px 2px black, -1px 1px 2px black, -1px -1px 2px black;
    }

    &__cards {
        width: 700px;
        display: flex;
        flex-direction: row;
        
    }

    .card {
        transform: rotate(3deg);
    }

    &--active {

        .hand__name {
            color: gold;
        }
        .card {
            &--front {
                cursor: pointer;
            }
            &:hover {
                transition: transform 0.3s ease;
                transform: translate3d(0px, -30px, 0px);
            }
        }
    }
}
