.card {
    width: 6rem;
    height: 8rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    margin: 0 1px;
    text-align: center;

    &--front {
        cursor: pointer;
    }

    &--back {
        background-image: url('../../assets/images/card-bg.png');
        .card__suit{
            display: none;
        }
    }
}

.card__suit {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;

    &:before {
        flex-basis:100%;
        align-self: flex-start;
        position: relative;
        bottom: 5px;
        left: 5px
    }

    &:after {
        flex-basis:100%;
        align-self: flex-end;
        position: relative;
        top: 10px;
        right: 5px;
    }

    &--diamonds {
        color: red;
        &:before {
            content: "♦️";
        }
        &:after {
            content: "♦️";
        }  
    }

    &--clubs {
        color: black;
        &:before {
            content: "♣️";
        }  
        &:after {
            content: "♣️";
        }  
    }

    &--hearts {
        color: red;
        &:before {
            content: "♥️";
        }  
        &:after {
            content: "♥️";
        }  
    }

    &--spades {
        color: red;
        &:before {
            content: "♠️";
        }  
        &:after {
            content: "♠️";
        }  
    }
}

.card__rank {
font-size: 2rem;
}